BasedOnStyle: Google
Language: Cpp
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
ColumnLimit: 100
CommentPragmas: '^\\s*IWYU\\s+pragma:'
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
IndentWidth: 2
TabWidth: 2
UseTab: Never
SortIncludes: false

# Keep templates readable
AlwaysBreakTemplateDeclarations: Yes

# Better ROS readability (common in ROS2 repos)
NamespaceIndentation: None
